._mainContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
._insideContainer{
    width: 100%;
    max-width: 1440px;
    min-height: 734px;
    margin: 0rem 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem 2rem;
    border: 2px solid #ebebeb;
    box-shadow: 0px 0px 100px 0 rgba(4, 46, 65, 0.1);
}
.img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img img{
    width: 100%;
    max-width: 350px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #c5551450, #c5b9143f, #354066, #fff);
    margin-bottom: 1rem;
    object-fit: cover;
    box-shadow: 0px 0 1000px 1px rgba(6, 180, 255, 0.2);
    border: 3px solid rgba(4, 46, 65, 0.5);

}
.name{
    font-size: 2rem;
    font-weight: 700;
    border-bottom: 2px solid var(--titleColor);
    color: var(--subTitleColor);
}
.mainContent{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.homeContent{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 8rem 3rem;
    background-color: var(--bgColorlight);
    border: 2px solid #d6d6d646;
    border-radius: 1rem;
}
.mainContent h1 {
    font-size: 3rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: var(--titleColor);
}
.mainContent h2{
    color: #272343;
    font-size: 2rem;
}
.mainContent a {
    width: 150px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Roboto Slab', monospace;
    padding: 14px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #26bda9;
    color: var(--bgColorlight);
    margin-top: 10px;
}
.mainContent p {
    font-size: 1.5rem;
    color: var(--subTitleColor);
}
@media screen and (max-width:1020px){
    ._insideContainer{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
    .mainContent{
        justify-content: start;
        align-items: center;
    }
    
}